{:tasks {:requires    ([babashka.fs :as fs])
         build        {:doc  "Build owndb"
                       :task (shell "gcc main.c")}

         repl         {:doc  "Run Clojure repl for Emacs with cider"
                       :task (clojure "-M:nrepl")}}}
